<div class="container">
    <h2 id="title">About</h2>
    <h4>Project developed within Testes e Qualidade de Software curricular unit</h4>

    <h5>Project developed by:</h5>
    <br />
    <ul type="disc">
        <li>Pedro Matos</li>
        <ul type="square">
            <li>84986</li>
            <li>pedrolopesmatos@ua.pt</li>
        </ul>
        <li>Ana Rita Marques</li>
        <ul type="square">
            <li>y</li>
            <li>x</li>
        </ul>
        <li>António</li>
        <ul type="square">
            <li>y</li>
            <li>x</li>
        </ul>
    </ul>
</div>
