<div class="container">
    <div class="jumbotron">
        <h1 id="title"><i class="fas fa-hospital"></i>PrettyCloud</h1>
        <p class="lead">Veja os salões de beleza mais perto de si</p>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="font-size:18px">
            <h2>Para começar</h2>
            <p>
                Para poder utilizar a plataforma, não é necessário criar uma conta.
                No entanto, pode sempre criar uma para poder dar classificações aos salões.
            </p>
            <p>
                Aqui pode ver que salões estão perto de si e os mais vantajosos.
            </p>
        </div>
    </div>
    <hr />
</div>
