<div class="container">
    <h4 id="title">Serviços disponibilizados</h4>
    <hr />

    <div class="col-md-4" *ngFor="let service of services">
        <div class="card-rounded" style="background-color: lightgrey; border-width: medium">
            <div class="card-body">
                <img src="{{service.link}}" style="width: 50%; height: 50%">
                <p class="card-text">{{service.designation}}</p>
                <button id="getSalons" class="btn btn-light" (click)="getSalons()">Ver salões</button>
            </div>
        </div>
    </div>

</div>
